<!DOCTYPE html>
<html>
<body>
    <div style="text-align: center;">
        <h1>Welcome!</h1>
        <h3>Click the button below to verify your email registration.</h3>
        <form method="post" action="{{Link}}" style="display: inline;">
            <button type="submit" style="display: block;
                                        text-align: center;
                                        font-weight: bold;
                                        background-color: #EB5757;
                                        border-radius: 10px;
                                        color: #ffffff;
                                        cursor: pointer;
                                        width: 100%;
                                        padding: 10px;">
                    Confirm Email
            </button>
        </form>
    </div>
</body>
</html>